mixin topicList(contents)
        div.main
            ul
                each content in contents
                    li #{content.title}
                else 
                    li Sorry nothing found.