mixin topicList(contents)
        div.main
            ul.no-dot
                each content in contents
                    li #{content.title}
                else 
                    li.no-content 게시글이 없습니다.