extends base.pug

block contentMain 
    form(method="post") 
        input(placeholder="기존 비밀번호",type="oldPassword", name="oldPassword", id="oldPassword")
        input(type="text", name="newPassword", placeholder=" 새로운 비밀번호", required, id="newPassword")
        span(id='msg')
        input(type="text", name="newPassword2", placeholder="비밀번호 재확인", required, id="newPassword2")
        input(type="submit", value="적용", name="submit", id="submit")

block scripts
    script(src="/client/js/change-password.js")