extends base.pug

block contentMain
    if loggedInUser.profileImage
        img(src="/"+loggedInUser.profileImage, width="100", height="100")
    else 
        img(src="/uploads/user_base_profile_image.jpg", width="100", height="100")
    form(method="POST", enctype="multipart/form-data")
        label(for="profileImg") 프로필 이미지
        input(type="file", id="profileImg", accept="image/*", name="profileImg")
        input(type="text", name="name", placeholder="이름", required, value=loggedInUser.name)
        input(type="text", name="username", placeholder="아이디", required, value=loggedInUser.username)
        input(type="text", name="email", placeholder="이메일", required, value=loggedInUser.email)
        input(type="submit", value="적용")
        if !loggedInUser.socialOnly 
            hr
            a(href="change-password") 비밀번호 변경&rarr;