extends base.pug
include mixins/topicList.pug

block contentMain 
    include partials/calendar.pug

block contentSub
    div.topicScript
        div.topic-items
            div.header
                h2 흙당근
                a(href=`/content/blackCarrot`) 더보기 &rarr;
            +topicList(blackCarrotContents)

        div.topic-items
            div.header
                h2 비밀게시판
                a(href=`/content/secretLounge`) 더보기 &rarr;
            +topicList(secretContents)

        div.topic-items
            div.header
                h2 정보공유방
                a(href=`/content/blackCarrot`) 더보기 &rarr;
            +topicList(infoShareContents)

        div.topic-items
            div.header
                h2 홍성현<이인
                a(href=`/content/blackCarrot`) 더보기 &rarr;
            +topicList(blackCarrotContents)


    

block scripts
    script(src="/client/js/calendar.js")

block css 
    link(rel="stylesheet", href="/client/css/topicList.css") 