extends base.pug

block contentMain
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="이름", name="name", type="text", required, value=`${name ? name : ""}`)
        span(id="emailMsg")
        input(placeholder="본인 확인 이메일", name="email", type="email", required, value=`${email ? email : ""}`, id="email")
        span(id="usernameMsg")
        input(placeholder="아이디", name="username", type="text", required, id="username")
        div(id="invisiblePw", style=`display:${invisible}`)
            input(placeholder="비밀번호", name="password", type="password", id="password", required)
            span(id="passwordCheck")
            input(placeholder="비밀번호 재확인", name="password2", type="password", id="password2", required)
        input(placeholder="위치(선택)", name="location", type="text", required)
        input(type="submit", value="가입하기", id="submitBtn", disabled)
    hr
    div
        a(href="/login") 로그인 &rarr;

block css
    link(rel="stylesheet", href="/client/css/join.css") 

block scripts 
    script(src="/client/js/join.js")