extends base.pug

block contentMain
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="아이디", name="username", type="text", required)
        input(placeholder="비밀번호", name="password", type="password", required)
        input(type="submit", value="Login")
        br
        a(href=`https://kauth.kakao.com/oauth/authorize?client_id=${REST_API_KEY}&redirect_uri=${REDIRECT_URI}&response_type=code`) 카카오톡 로그인  &rarr;
    hr
    div
        a(href="/join") 회원가입 &rarr;