extends base.pug
include mixins/topicContent.pug

block contentMain
    include partials/contentNav.pug
    div.contentsSection
        if shareInfoContents.length === 0
            div.none-contents  
                h3 게시글이 존재하지 않습니다.
        else 
            each shareInfoContent in shareInfoContents
                +topicContent(shareInfoContent)

block contentSub

block scripts
    script(src="/client/js/timeFormat.js")
    script(src="/client/js/nowSelect.js") 
    link(rel="stylesheet", href="/client/css/contentNav.css") 