.user-info-outer-div {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.user-info-div {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#userIndicator {
    font-weight: 700;
    color:#9a9a9a;
}

.img-margin {
    margin-right: 5px;
}